{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="about">
    <div class="container">
        <h1 class="title">
            О компании
        </h1>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="about_title">
                    МЫ - ОЦЕНОЧНАЯ ЭКСПЕРТНАЯ КОМПАНИЯ «НАТЭКС»
                </h2>
                <p class="about_text">
                    Компания "НАТЭКС" работает на рынке услуг с 1996 года.
                </p>
                <p class="about_text">
                    Наша компания охватывает широкий спектр услуг по оценке. Мы занимаемся оценкой рыночной 
                    стоимости транспортных средств и иного движимого имущества, 
                    оборудования, оценкой ущерба транспортных средств после ДТП, 
                    оценкой ущерба коммерческой и жилой недвижимости.
                </p>
                <p class="about_text">
                    Страхование: движимого имущества -транспортных средств и не движимого имущества-дома, квартиры, дачи, а так же жизни и здоровья.
                </p>
                <p class="about_text">
                    С 2005 года компания "НАТЭКС" также занимается оформлением и выдачей: 
                    заключений о внесении изменений в конструкцию ТС (переоборудования автотранспортных средств), 
                    СБКТС, ЭРА-ГЛОНАС, электронных паспортов ТС. Мы успешно сотрудничаем с ведущими институтами 
                    страны в сфере автотранспорта, а так же органами по сертификации. За время нашей работы мы выдали более 25 тысяч заключений.
                </p>
                <p class="about_text">
                    В 2013 году, в целях расширения спектра услуг для автовладельцев, был запущен в работу пункт 
                    технического осмотра транспортных средств категории "М1". Мы используем новейшее оборудование 
                    для диагностики всех систем автомобиля. Оборудование для проверки тормозных систем позволяет производить 
                    диагностику на автомобилях, как с моно, так и с полным приводом, механические и автоматические трансмиссии, 
                    без страха повреждения автомобиля. Оборудование ежегодно проходит поверку, что исключает возможность оказания некачественной услуги.
                </p>
                <p class="about_text">
                    <strong>ООО «НАТЭКС»</strong> является уполномоченной организацией по оформлению 
                    электронных ПТС на ранее зарегистрированные органами ГИБДД на территории РФ 
                    транспортные средства и включена в <a href="https://minpromtorg.gov.ru/common/upload/docs/Perechen_upolnomochennykh_organov_24112022.pdf" target="_blank">реестр за №287</a> Министерства Промышленности и Торговли Российской Федерации.
                </p>
                <p class="about_text">
                    В компании "НАТЭКС" работают только высококвалифицированные сотрудники, имеющие высшее образование и постоянно повышающие свою квалификацию.
                </p>
                <p class="about_text">
                    <strong>Автострахование</strong>
                </p>
                <p class="about_text">
                    ОСАГО <br>
                    Согласно закону, владельцы транспортных средств обязаны страховать риск наступления своей гражданской ответственности при использовании автомобиля. <br>
                    КАСКО <br>
                    Добровольное страхование транспортных средств 
                    от угона или повреждений, стихийных бедствий, противоправных действий третьих лиц и многих других рисков. <br>
                </p>
                <p class="about_text">
                    <strong>Имущество</strong>(Квартира, дача, ипотека)
                </p>
                <p class="about_text">
                    Вы можете заключить договор на условиях страхования 
                    «от всех рисков» или с указанием определенного перечня страховых 
                    событий в зависимости от индивидуального состава рисков, например:
                </p>
                <ul class="about_text_list">
                    <li>пожар, взрыв, удар молнии;</li>
                    <li>повреждение имущества водой;</li>
                    <li>стихийные бедствия;</li>
                    <li>кража со взломом, грабеж или разбой;</li>
                    <li>противоправные действия третьих лиц 
                        (хулиганство, вандализм, умышленное уничтожение или повреждение 
                        застрахованного имущества по неосторожности);
                    </li>
                    <li>бой стекол, зеркал и витрин;</li>
                    <li>падение летательного аппарата, его частей или груза;</li>
                    <li>террористический акт, диверсия.</li>
                </ul>
                <p class="about_text">
                    <strong>Здоровье и жизнь</strong>(Страхование спортсменов, несчастный случай и жизнь, страхование от укуса клеща)
                </p>
                <p class="about_text">
                    Продуктовая линейка включает в себя классические продукты 
                    с индивидуальными условиями и коробочные продукты с фиксированными 
                    страховыми суммами и премиями, что позволяет сократить время на оформление договора.
                </p>
                <p class="about_text">Программы добровольного страхования жизни и здоровья от несчастного случая (НС) 
                    включают все основные риски, произошедшие в результате НС: смерть, установление 
                    инвалидности, телесные повреждения (травмы). Также есть дополнительные риски: 
                    хирургическое вмешательство, госпитализация, временное нарушение здоровья в результате инфицирования.
                </p>
                <h3>ООО «НАТЭКС»</h3>
                <p class="about_text">
                    <div>Юридический адрес: Россия, 150052, г. Ярославль, ул. Елены Колесовой, д. 15а</div>
                    <div>Почтовый адрес: Россия, 150052, г. Ярославль, ул. Елены Колесовой, д. 15а</div>
                    <div>Фактический адрес: Россия, 150052, г. Ярославль, ул. Елены Колесовой, д. 15а</div>
                    <div>ИНН 7602021184</div>
                    <div>КПП 760201001</div>
                    <div>Р/с 40702810077030110086</div>
                    <div>В Калужском отд. №8608 ПАО Сбербанк г. Калуга </div>
                    <div>БИК 042908612</div>
                    <div>К/с 30101810100000000612</div>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
