<!DOCTYPE html>
{% load static info_tags %}
{% get_services as services %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %}<title>{{title}}</title>{% endblock %}
  <meta name="description" content="{% block description %}{{description}}{% endblock %}">
  <link rel="icon" href="{% static  'icons/favicon.ico'  %}" type="image/x-icon"/>
  <link rel="shortcut icon" href="{% static  'icons/favicon.ico'  %}" type="image/x-icon"/>
  <link href="{% static  'css/vanilla-calendar.min.css'  %}"  rel="stylesheet">
  <link href="{% static  'css/light.min.css'  %}"  rel="stylesheet">
  <link rel="stylesheet" href="{% static  'css/style.css'  %}">
  {% include 'include/_analitics.html' %}
</head>
<body>
  {% include 'include/_header.html' %}
  <main class="main">
    {% block content %}
    {% endblock %}
  </main>
  {% include 'include/_footer.html' %}
  {% include 'include/_modal.html' %}
  <a href="{% url 'service' 'tekhosmotr' %}" class="btn_entry js-bottom-btn">
    <img src="{%  static 'img/request.png' %}" alt="" class="btn_entry_img">
    <div class="btn_entry_text">Записаться на ТО</div>
  </a>
  <script>
        const url_free_entry = "{% url 'free_entry' %}";
        const url_post_entry = "{% url 'post_entry' %}";
        const url_lead = "{% url 'lead' %}";
        const url_success_lead = "{% url 'success_lead' %}";
  </script>
  <script src='{% static "js/swiper.js" %}'></script>
  <script src='{% static "js/fslightbox.js" %}'></script>
  <script src='{% static "js/day.js" %}'></script>
  <script src='{% static "js/vanilla.js" %}'></script>
  <script src='{% static "js/script.js" %}'></script>
</body>
</html>
