{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="contactss">
    <div class="container">
        <h1 class="title">Контакты</h1>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h3 class="contacts_subtitle">
                    Контактная информация
                </h3>
                <div class="contacts_info">
                    <strong>Адрес:</strong> Россия, 150052, ул. Елены Колесовой, д. 15А
                </div>
                <div class="contacts_info">
                    <strong>Телефон:</strong> (4852) 57-80-88, 55-44-89, 57-82-43
                </div>
                <div class="contacts_info">
                    <strong>График работы:</strong>
                    <p>
                        Независимая экспертиза, переоборудование, СБКТС и кнопка - Глонасс <br>
                        ПН-ПТ с 9:00 до 18:00 без обеда
                    </p>
                    <p>
                        Автострахование <br>
                        ПН-ПТ с 9:00 до 18:00 без обеда <br>
                        СБ с 9:00 до 15:00 <br>
                    </p>
                    <p>
                        Техосмотр <br>
                        работает все дни с 9:00 до 20:00 по предварительной записи на сайте natex-yar.ru, <br>
                        либо по телефону (4852) 57-82-43 <br>
                    </p>
                </div>
                <div class="s_info">
                    <strong>E-mail: </strong>
                    <ul class="contacts_info_list">
                        <li>
                            natex-yar@bk.ru - независимая экспертиза
                        </li>
                        <li>
                            car_tex@mail.ru - переоборудование ТС
                        </li>
                        <li>
                            sert_natex@mail.ru - СБКТС и кнопка ЭРА-ГЛОНАСС, получение электронного паспорта на ввозимое т/с
                        </li>
                        <li>
                            natex-to@yandex.ru - бухгалтерия
                        </li>
                    </ul>
                </div>
                <div class="contacts_info">
                    <strong>Прием платежей (оплата):</strong> Банковская карта / Наличные
                </div>
                <div class="contacts_info">
                    <iframe 
                    src="https://yandex.ru/map-widget/v1/?um=constructor%3A145db455cd04bcc0fd77efd583b4d85c7caa967419521ed3bd56f470609fe2b5&amp;source=constructor" 
                    width="100%" height="300" frameborder="0">
                    </iframe>
                </div>
                <h3 class="contacts_subtitle">ООО «НАТЭКС»</h3>
                <p class="about_text">
                    <div>Юридический адрес: Россия, 150052, г. Ярославль, ул. Елены Колесовой, д. 15а</div>
                    <div>Почтовый адрес: Россия, 150052, г. Ярославль, ул. Елены Колесовой, д. 15а</div>
                    <div>Фактический адрес: Россия, 150052, г. Ярославль, ул. Елены Колесовой, д. 15а</div>
                    <div>ИНН 7602021184</div>
                    <div>КПП 760201001</div>
                    <div>Р/с 40702810077030110086</div>
                    <div>В Калужском отд. №8608 ПАО Сбербанк г. Калуга </div>
                    <div>БИК 042908612</div>
                    <div style="margin-bottom: 30px;">К/с 30101810100000000612</div>
                </p>
                <h3 class="contacts_subtitle">
                    Руководство и ведущие специалисты
                </h3>
                <div class="contacts_info">
                    <ul class="contacts_info_employees">
                        <li class="contacts_info_employees_item">
                            <div class="contacts_info_employees_item_name">Разгоняев Игорь Николаевич</div>
                            <div class="contacts_info_employees_item_text">Генеральный директор</div>
                            <a href="mailto:natex-yar@bk.ru" class="contacts_info_employees_item_link">natex-yar@bk.ru</a>
                        </li>
                        <li class="contacts_info_employees_item">
                            <div class="contacts_info_employees_item_name">Шиханов Александр Валерьевич</div>
                            <div class="contacts_info_employees_item_text">Технический эксперт</div>
                            <a href="mailto:car_tex@mail.ru" class="contacts_info_employees_item_link">car_tex@mail.ru</a>
                        </li>
                        <li class="contacts_info_employees_item">
                            <div class="contacts_info_employees_item_name">Семенов Дмитрий Львович</div>
                            <div class="contacts_info_employees_item_text">Автоэксперт</div>
                            <a href="mailto:natex-yar@bk.ru" class="contacts_info_employees_item_link">natex-yar@bk.ru</a>
                        </li>
                        <li class="contacts_info_employees_item">
                            <div class="contacts_info_employees_item_name">Макарова Наталья Анатольевна</div>
                            <div class="contacts_info_employees_item_text">Менеджер</div>
                            <a href="mailto:sert_natex@mail.ru" class="contacts_info_employees_item_link">sert_natex@mail.ru</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
