{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="tekhosmotr js-tekhosmotr">
    <div class="container">
        <h1 class="title">
            Техосмотр
        </h1>
        <div class="row">
            <div class="col-xl-9">
                <h2 class="tekhosmotr_subtitle">
                    Запись на технический осмотр
                </h2>
                <div class="tekhosmotr_entry">
                    <div class="tekhosmotr_entry_title">
                        1. Выберите дату и время*
                    </div>
                    <div class="tekhosmotr_entry_wrap">
                        <div id="calendar" class="tekhosmotr_entry_calendar"></div>
                        <div class="tekhosmotr_entry_time">
                            <div class="tekhosmotr_entry_time_day js-time-day">
                               {{today|date:"d E Y"}} г.
                            </div>
                            <div class="tekhosmotr_entry_time_list js-time-list">
                                {% for entry in entrys %}
                                    <div class="tekhosmotr_entry_time_list_item js-time-entry" data-entry-id="{{entry.id}}">
                                        {{entry.time}}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="tekhosmotr_entry_time_msg js-time-msg"></div>
                            <div class="tekhosmotr_entry_time_overlay js-time-overlay"></div>
                        </div>
                    </div>
                    <form class="tekhosmotr_form js-time-form">
                        <div class="tekhosmotr_form_wrap">
                            <div class="tekhosmotr_form_wrap_item">
                                <div class="tekhosmotr_form_title">
                                    2. Транспортное средства
                                </div>
                                <div class="tekhosmotr_form_filed">
                                    <label for="model" class="tekhosmotr_form_label">Марка и модель ТС*</label>
                                    <input type="text" id="model" name="automobile" class="tekhosmotr_form_input" required placeholder="Mercedes-Benz CLS 35">
                                </div>
                                <div class="tekhosmotr_form_filed">
                                    <label for="year" class="tekhosmotr_form_label">Год выпуска*</label>
                                    <input type="text" id="year" name="year" class="tekhosmotr_form_input" required placeholder="2018">
                                </div>
                                <div class="tekhosmotr_form_filed">
                                    <label for="number" class="tekhosmotr_form_label">Государственный регистрационный знак*</label>
                                    <input type="text" id="number" name="number" class="tekhosmotr_form_input" required placeholder="А000АА00">
                                </div>
                            </div>
                            <div class="tekhosmotr_form_wrap_item">
                                <div class="tekhosmotr_form_title">
                                    3. Контактные данные
                                </div>
                                <div class="tekhosmotr_form_filed">
                                    <label for="name" class="tekhosmotr_form_label">ФИО/Название организации*</label>
                                    <input type="text" id="name" name="name" class="tekhosmotr_form_input"required>
                                </div>
                                <div class="tekhosmotr_form_filed">
                                    <label for="phone" class="tekhosmotr_form_label">Телефон*</label>
                                    <input type="text" id="phone" name="phone" class="tekhosmotr_form_input"required>
                                </div>
                                <div class="tekhosmotr_form_filed">
                                    <label for="email" class="tekhosmotr_form_label">Email</label>
                                    <input type="text" id="email" name="email" class="tekhosmotr_form_input">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="tekhosmotr_form_btn">Записаться</button>
                        <div class="tekhosmotr_form_priv">
                            Нажимая кнопку "Записаться", 
                            я даю согласие на обработку персональных данных, 
                            в соответствии c <a href="{% url 'politica' %}">Политикой конфиденциальности</a>
                        </div>
                    </form>
                    <h3 class="tekhosmotr_h3" id="info">
                        Информация для клиента
                    </h3>
                    <div class="tekhosmotr_text">
                        {{service.text|safe}}
                    </div>
                    <h3 class="tekhosmotr_h3" id="license">
                        Аттестат аккредитации
                    </h3>
                    <a href="{% static 'img/license.jpg' %}" data-fslightbox="gallery" class="tekhosmotr_license">
                        <img src="{% static 'img/license.jpg' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="tekhosmotr_sidebar">
                    <a href="#info" class="tekhosmotr_sidebar_link js-block-scroll">
                        Информация для клиента
                    </a>
                    <a href="#license" class="tekhosmotr_sidebar_link js-block-scroll">
                        Аттестат аккредитации
                    </a>
                    <hr class="tekhosmotr_sidebar_line">
                    <div class="tekhosmotr_sidebar_name">
                        Документы
                    </div>
                    <div class="tekhosmotr_sidebar_desc">
                        Мы осуществляем свою деятельность на основании и 
                        в соответствии с действующим законодательством Российской Федерации. 
                        Федеральный закон, регулирующий деятельность по техосмотру:
                    </div>
                    <ul class="tekhosmotr_sidebar_list">
                        {% for document in service.document.all %}
                        <li class="tekhosmotr_sidebar_list_item">
                            <a href="{{document.doc.url}}" class="tekhosmotr_sidebar_list_item_link">
                                {{document.name}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
        const to_day = "{{today_str}}";
        const end_day = "{{end_str}}";
        const no_work_day = {{no_work|safe}};
</script>


{% endblock %}